HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified

# Environment URLs
# Production
WEBSITE_URL=https://brave.tech
CMS_URL=https://cms.brave.tech
# Staging
STAGING_WEBSITE_URL=https://web-staging.brave.tech
STAGING_CMS_URL=https://staging-cms.brave.tech
